<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dc.mapper.EmployeeMapper">
    <select id="pageQuery" resultType="com.dc.entity.Employee">
        SELECT *
        FROM employee
        <if test="name != null and name != ''">
            WHERE name LIKE CONCAT('%', #{name}, '%')
        </if>
    </select>

    <select id="getById" resultType="com.dc.entity.Employee">
        SELECT *
        FROM employee
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO employee (name, username, password, phone, sex, id_number,
                              status, create_time, update_time, create_user, update_user)
        VALUES (#{name}, #{username}, #{password}, #{phone}, #{sex}, #{idNumber},
                #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="activateOrDeactivate">
        UPDATE employee
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <update id="update" parameterType="com.dc.entity.Employee">
        UPDATE employee
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="status != null">status = #{status}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
